.auth-background
    position absolute
    background url('../images/jogging.png')
    background-size cover
    background-position center

.auth-card-container
    position relative

.auth-card
    margin-top 100px
    