//material colors TEAL + CYAN - https://www.materialpalette.com/teal/cyan
darkerPrimary = #00695C
darkPrimary = #00796B
primary = #009688
lighPrimary = #B2DFDB
accent = #18FFFF
textIcons = #FFFFFF
primaryText = #212121
secondaryText = #727272
dividerColor = #B6B6B6

.color-white
    color #fff !important

.bg-color-darker-primary
    background-color darkerPrimary !important